#
# Allows group access to a CORSAIR DARK CORE RGB SE
#
# Part of: https://github.com/OrsanZ/OpenDarkCore
# Author: OrsanZ
#

# Cable attached
SUBSYSTEMS=="usb"\
, ATTRS{idVendor}=="1b1c"\
, ATTRS{idProduct}=="1b4b"\
, GROUP:="plugdev"\
, MODE:="0664"

# Wireless reciever
ATTRS{idVendor}=="1b1c"\
, ATTRS{idProduct}=="1b51"\
, GROUP:="plugdev"\
, MODE:="0664"

